header {
    text-align: center;
    background-color: powderblue;
    font-family: Arial;
    font-size: 150%;

    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px gray;
}

h1 {
    text-align: center;
    border: 2px solid black;
    background-color:darkturquoise
}

h2 {
    background-color:darkturquoise;
    text-align: center;
    font-size: 120%;
    border: 2px solid black;
}
h3 {
    background-color:darkturquoise;
    text-align: center;
    border: 2px solid black;
    font-size: 120%;
}
h4 {
    text-align: center;
}
li {
    text-align: left;
}
main {
    background-color: lightblue;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
    font-family: Arial;
    font-size: 120%;
    box-shadow: 2px 2px 5px gray;
}
div {
    text-align: center;
}
section {
    background-color: lightblue;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial;
    font-size: 120%;
}

aside {
    background-color: darkgrey;
    margin-left: 5%;
    margin-right: 45%;
    text-align: left;
    border: 2px solid black;
    box-shadow: 2px 2px 5px gray;
}

footer {
    text-align: center;

}
a {
    color: darkmagenta;
}

nav {
    text-align:center;
    border: solid black 1px;
    background-color: powderblue;
    
}