body {
    background-color:lightblue;
    color:darkslategray;
    font-family:monospace;
    
}
nav {
    background-color: black;
    padding-top:10px;
    padding-bottom:10px;
    color: white;
    font-size: 14pt;
    text-align:center;
    
}

.nav {
    color: white;
    text-decoration: none;
}

header {
    text-align: center;

}

h1 {
    font-size: 300%;
    font-family:monospace;
    
}

h2 {
    font-size: 150%;
    font-family:monospace;
}

main {
    margin-top:10px;
    margin-bottom:10px;
    
}

section {
    background-color:whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom:10px;
    margin-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px gray
}

footer {
    background-color:black;
    color: lightgrey;
    padding-top:10px;
    padding-bottom:10px;
   text-align:center;
}