body {
    background-color: lightblue;
    color: darkslategray;
    font-family: monospace;

}

nav {
    background-color: black !important;
    color: white !important;
    font-size: 14pt !important;
    text-align: center !important;
    padding-right: 10%;
    padding-left: 10%;
    
}

.carousel-inner {
    text-align: center !important;
}

.navbar-brand {
    color: aqua !important;
}

.nav-link {
    font-size: 12pt;
    color: white !important;
    text-decoration: none !important;
    white-space: nowrap !important;

}

header {
    text-align: center !important;
}

h1 {
    font-size: 300% !important;
    font-family: monospace !important;

}

h2 {
    font-size: 150% !important;
    font-family: monospace !important;
}

main {
    margin-top: 10px !important;
    margin-bottom: 10px !important;

}

section {
    background-color: whitesmoke !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    padding: 10px;
    border: 3px solid grey !important;
}

footer {
    background-color: black !important;
    color: lightgrey !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
}

.navigation {
    text-align: center;
    color: white;
}

.alert-info {
    text-align:center;
}

.alert-link {
    color:cadetblue;
}

.carousel-control-next {
    margin-right:5%;
}

.carousel-control-prev {
    margin-left:5%;
}